@model Compare
<div class="row">
    <div class="col-2"> </div>
    <div class="col-4 bg-info text-white">
        <center>
            <h5> Yapılan Toplam Maç Sayısı: @Model.MatchCount</h5>
            <h5> Berabere Biten Maç Sayısı: @Model.DrawCount</h5>
            <h5> @Model.TeamOneName Kazandığı Maç Sayısı: @Model.TeamOneWinAll</h5>
            <h5> @Model.TeamTwoName Kazandığı Maç Sayısı: @Model.TeamTwoWinAll</h5>
        </center>
    </div>
    <div class="col-4 bg-warning text-white">
        <center>
            <h5> Atılan Toplam Gol Sayısı: @Model.GoalAll</h5>
            <h5> @Model.TeamOneName Attığı Gol Sayısı: @Model.TeamOneGoalAll</h5>
            <h5> @Model.TeamTwoName Attığı Gol Sayısı: @Model.TeamTwoGoalAll</h5>
        </center>
    </div>
    <div class="col-2"> </div>
</div>